/* import link to google fonts here */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #171717;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

/* header styling */

header {
    background-color: #363535;
    color: white;
    height: 50px;
    width: 100vw;
    padding-left: 10px;
}

#logo {
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    color: white;   
}

#menu {
    text-transform: uppercase;
    list-style-type: none;
    padding-right: 10px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#logo, #menu {
    line-height: 75px;
}

#menu a:hover {
    font-size: 110%;
}

/* title styling */

#title-outer {
    border: black 5px solid;
    width: 100%;
    text-size-adjust: 80%;
    padding-bottom: 10px;
}

#title {
    font-size: 350%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

/* hero image styling */

#hero-image {
    background: url("assets/img/hero-image-mobile.jpg") no-repeat center center;
}

/* small print styling */

.credit {
    border: black 5px solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.credit a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

/* button styling */

.sign-up {
    background-color: rgba(137, 137, 137, 0.395);
    color: white;
    margin: 5px;
    padding: 5px 10px;
    font-size: 150%;
    text-transform: uppercase;
    border: 5px white solid;
}