/* import link to google fonts here */

/* WILDCARD */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* BODY */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #171717;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: #363535;
    color: gold;
    height: 75px;
    width: 100vw;
    padding-left: 20px;
    overflow: none;
}

#logo {
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    color: gold;
}

#menu {
    text-transform: uppercase;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 20px;
    color: paleturquoise;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#logo, #menu {
    line-height: 75px;
}

#menu a:hover {
    font-size: 110%;
}

/* TITLE */

#title-outer {
    width: 100%;
    text-size-adjust: 80%;
    padding-bottom: 10px;
    clear: both;
}

#title {
    font-size: 350%;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: gold;
}

/* HERO IMAGE */

#hero-image {
    background: url("#") no-repeat center center;
}

/* CREDIT */

.credit {
    margin-top: 10px;
}

.credit a {
    text-transform: uppercase;
    text-decoration: none;
    color: paleturquoise;
    padding-bottom: 10px;
}

/* BUTTON */

.sign-up {
    background-color: rgba(137, 137, 137, 0.395);
    color: white;
    margin: 25px;
    padding: 5px 10px;
    font-size: 150%;
    text-transform: uppercase;
    border: 5px gold solid;
    letter-spacing: 2px;
}

/* ABOUT */

.heading {
    font-size: 200%;
    text-decoration: underline;
    text-decoration-color: gold;
    color: gold;
    padding-bottom: 20px;
}

#about {
    border: 5px #363535 solid;
    width: 90%;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
}

p {
    font-size: 120%;
}

/* GALLERY */

strong {
    font-size: 200%;
    color: gold;
}

/* FEATURES */

/* FORM */

.form-outer {
    border: 5px #363535 solid;
    width: 90%;
    padding: 10px 20px 20px 20px;
    background-color: black;
    margin: 0 auto;
}

.box-style {
    background: transparent;
    color: white;
    border: 2px white solid;
}

.label {
    padding: 10px;
}

#submit {
    padding: 5px 10px;
    color: paleturquoise;
}

/* FOOTER */

footer {
    background-color: #363535;
    margin-top: 20px;
}

/* RESPONSIVE */

@media screen and (max-width: 599px) {
    header {
        height: 75px;
        margin-bottom: 50px;
    }

    #logo {
        text-align: center;
        padding: 0px;
        margin: 0 auto;
    }

    #menu {
        clear: both;
        background-color: #363535;
        text-align: center;
    }
}