/* Base styling @600px */

/* WILDCARD */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* BODY */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #171717;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    max-width: 100%;
}

br {
    line-height: 10px;
}

hr {
    height: 5px;
    margin: 20px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */

header {
    background-color: #363535;
    color: gold;
    height: 75px;
    width: 100vw;
    padding-left: 20px;
    overflow: none;
}

#logo {
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    color: gold;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    font-size: 200%;
}

#menu {
    text-transform: uppercase;
}

#menu li {
    float: right;
    margin-right: 20px;
    color: paleturquoise;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#logo, #menu {
    line-height: 75px;
}

#menu a:hover {
    font-size: 110%;
}

/* TITLE */

#title-outer {
    width: 100%;
    text-size-adjust: 80%;
    padding-bottom: 10px;
    clear: both;
}

#title {
    font-size: 350%;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: gold;
    margin-top: 20px;
    letter-spacing: 5px;
}

/* HERO IMAGE */

#hero-image {
    object-fit: scale-down;
}

/* CREDIT */

.credit {
    margin-top: 10px;
}

.credit a {
    text-transform: uppercase;
    text-decoration: none;
    color: paleturquoise;
    padding-bottom: 10px;
}

/* BUTTON */

.sign-up {
    background-color: black;
    color: paleturquoise;
    margin: 25px;
    padding: 10px;
    font-size: 125%;
    text-transform: uppercase;
    border: 5px gold solid;
    letter-spacing: 2px;
}

.sign-up a {
    text-decoration: none;
    color: inherit;
}

/* ABOUT */

.heading {
    font-size: 250%;
    text-decoration: underline;
    text-decoration-color: gold;
    color: gold;
    padding: 10px;
    margin: 0 auto;
}

#about {
    border: 5px #363535 solid;
    width: 90%;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
}

/* GALLERY */

#gallery {
    width: 90%;
    border: 5px #363535 solid;
    margin: 0 auto;
    background-color: black;
}

strong {
    padding-top: 20px;
    clear: both;
    font-size: 150%;
    color: gold;
}

/* FEATURES */

#features-outer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 5px #363535 solid;
    background-color: black;
}

section i {
    border: 5px #363535 solid;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: #171717;
    padding: 20px;
    margin: 10px;
    font-size: 400%;
    text-align: center;  
}

i ~ h4 {
    clear: both;
}

/* FORM */

#form-outer {
    border: 5px #363535 solid;
    width: 60%;
    padding: 20px;
    background-color: black;
    margin: 20px auto;
}

.select-box {
    margin: 10px;
}

.sub-heading {
    font-size: 90%;
    padding: 5px;
}

.box-style {
    background: transparent;
    color: white;
    border: 2px white solid;
    margin: 5px;
    clear: both;
}

.checkbox-outer {
    margin: 5px;
    overflow: visible;
    line-height: 30px;
}

.checkbox-label {
    font-size: 60%;
    text-align: left;
    float: left;
    width: 90%;
    line-height: 15px;
}

.checkbox {
    line-height: 25px;
}

#submit {
    padding: 5px 10px;
    color: paleturquoise;
    font-size: 125%;
}

select {
    padding: 5px;
}

#specs {
    list-style-type: initial;
}

/* FOOTER */

footer {
    background-color: #363535;
    margin-top: 20px;
    border: 5px #363535 solid;
    height: 75px;
    width: 100vw;
}

.social-media i {
    font-size: 300%;
    color: gold;
    padding: 10px;
    text-align: center;
}

/* RESPONSIVE
    >1600px */

@media only screen and (min-width: 1600px) {

    body {
        font-size: 175%;
    }

    #features-inner {
        column-count: 4; 
    }

    section i {
        font-size: 200%;
    }

    .credit h6 {
        font-size: 125%;
    }

    .sign-up {
        font-size: 200%;
        padding: 20px;
    }

    footer {
        height: 110px;
    }

    .social-media li a {
        padding: 10px 60px 10px 60px;
    }
}

    /* 1600px */
@media only screen and (min-width: 1000px) {

    #title {
        font-size: 500%;
    }

    #title-outer h2 {
        font-size: 200%;
    }

    strong {
        font-size: 300%;
    }

    #about {
        width: 70%;
    }

    .checkbox-outer {
        margin: 40px;
    }

    .checkbox-label {
        font-size: 100%;
        line-height: 30px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1599px) {

    body {
        font-size: 150%;
    }

    hr {
        margin: 30px;
    }

    .sign-up {
        font-size: 200%;
    }

    #features-inner {
        column-count: 3;
    }

    section i {
        font-size: 250%;
    }

    #form-outer {
        width: 70%;
        padding: 20px;
    }

    select {
        margin: 10px;
    }

    footer {
        height: 100px;
    }

    .social-media li a {
        padding: 10px 40px 10px 40px;
    }
}

    /* 1000px */

@media screen and (max-width: 1000px) {

    header {
        height: 75px;
        margin-bottom: 25px;
        height: 150px;
    }

    #menu {
        clear: both;
        background-color: #363535;
        text-align: center;
    }

    #features-inner {
        column-count: 2;
    }

    section i {
        font-size: 300%;
    }

    footer {
        height: 100px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    body {
        font-size: 150%;
    }

    .heading {
        font-size: 200%;
    }

    .sign-up {
        font-size: 150%;
    }

    #features-outer {
        width: 70%;
    }
    
    section i {
        font-size: 250%;
    }

    #form-outer {
        width: 80%;
    }
}

    /* <599px */

@media screen and (max-width: 599px) {

    strong {
        font-size: 150%;
    }

    .sign-up {
        font-size: 125%;
    }

    #features-outer {
        width: 70%;
    }

    #features-inner {
        column-count: 1;
    }

    #form-outer {
        width: 90%;
    }

    .label {
        padding: 20px;
    }

    section i {
        font-size: 350%;
    }

    footer {
        height: 75px;
    }
}