/* import link to google fonts here */

/* WILDCARD */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* BODY */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #171717;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

/* HEADER */

header {
    background-color: #363535;
    color: white;
    height: 50px;
    width: 100vw;
    padding-left: 10px;
    overflow: none;
}

#logo {
    text-transform: uppercase;
    float: left;
    text-decoration: none;
    color: white;
}

#menu {
    text-transform: uppercase;
    list-style-type: none;
}

#menu li {
    float: right;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#logo, #menu {
    line-height: 75px;
}

#menu a:hover {
    font-size: 110%;
}

/* TITLE */

#title-outer {
    border-top: black 5px solid;
    width: 100%;
    text-size-adjust: 80%;
    padding-bottom: 10px;
}

#title {
    font-size: 350%;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: gold;
}

/* HERO IMAGE */

#hero-image {
    background: url("assets/img/hero-image-mobile.jpg") no-repeat center center;
}

/* CREDIT */

.credit {
    border: black 5px solid;
    padding: 10px;
    margin-bottom: 20px;
}

.credit a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding-bottom: 10px;
}

/* BUTTON */

.sign-up {
    background-color: rgba(137, 137, 137, 0.395);
    color: white;
    margin: 5px;
    padding: 5px 10px;
    font-size: 150%;
    text-transform: uppercase;
    border: 5px white solid;
    letter-spacing: 2px;
}

/* ABOUT */

.header {
    font-size: 250%;
    text-decoration: underline;
    text-decoration-color: gold;
    color: gold;
    margin: 20px;
}

#about {
    border-bottom: 5px black solid;
    width: 90%;
    padding: 20px;
    background-color: black;
    margin: 0 auto;
}

p {
    font-size: 150%;
}

/* GALLERY */

/* FEATURES */

/* RESPONSIVE */